

#titulo {

    color: blue;
    text-align: center;

}

.entradas-formulario {

    border: 1px solid;
    max-width: fit-content;

    margin: auto;

    position: absolute;
    top: 425px;
    left: 50%;
    transform: translateX(-50%);
}


.rodape { 

    border: 1px solid;

    position: absolute;
    bottom: 10px;

}

.campo {

    text-align: center;

}

.confirmar {
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}