

#titulo {

    color: blue;
    text-align: center;

}

.entradas-formulario {

    border: 1px solid;
    max-width: fit-content;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    
}


.rodape { 

    border: 1px solid;

}

.campo {

    text-align: center;

}

.confirmar {
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

