body {

    background-color: blueviolet;


}


#titulo {

    text-align: center;

}

.entradas-formulario {

    background-color: palevioletred;

    border-radius: 10px;
    border: 1px solid;
    width: 300px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.rodape { 

    position: fixed;
    bottom: 0px;
    left: 0px;


    width: 100%;

    text-align: center;

    padding-bottom: 5px;
    padding-top: 5px;

    background-color: palevioletred;

}

.campo {

    position: relative;
    left: 50px;

    margin-top: 5px;
    margin-bottom: 5px;


}

#idade {

    margin-left: 4px;

}

#cpf {

    margin-left: 11px;



}

.confirmar {
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    margin-bottom: 5px;

}